[Desktop Entry]
Type=Application
Name=Invocar HUD
Exec=qs -c hud ipc call hud toggle
Icon=preferences-desktop-display
NoDisplay=true
X-KDE-Shortcuts=Meta+A
